@media (max-width: 768px){

    #hamburguer{
        display: flex;
        margin-right: 15px;
    }

    nav ul{
        display: none;
    }

    section{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    section div{
        height: 10vh;
    }
}