@media (max-width: 768px){

    #hamburguer{
        display: flex;
        margin-right: 15px;
    }

    nav ul{
        display: none;
    }

    section{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 150vh;
    }




    
    section div{
        height: 30vh;
        width: 60vw;
    }

    section#sobre{
        height: 200vh;
    }

    section#sobre div{
        height: 65vh;
    }

}