*{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;

}

body{
    margin: 0;
    color: #2f3040;
}
div.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

a{
    text-decoration: none;
    color: white;
    font-size: 15pt;
}

a:hover{
    color: rgb(241, 140, 24);
}

ul{
    list-style-type: none; 
    display: flex;
    justify-content: space-around;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #2f3040;
    height: 80px;
    align-items: center;

}

ul{
    width: 40%;
}


#nav-logo{
    width: 40%;
    margin-left: 20px;
}



#hamburguer{
    height: 30px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 10px;
    border: white solid 1px;
    padding: 4px;
    border-radius: 5px;
    align-items: center;
    display: none;
}

.traco{
    width: 35px;
    height: 10%;
    background-color: white;
    border-radius: 120px;
}


#menu-responsivo{
    display: none;
    flex-direction: column;
    background-color: antiquewhite;
    width: 100vw;
    height: 40vh;
}

.showMenu{
    display: flex;
}

/*LISTRA DOS TITULOS*/
.listra{
    display: flex;
    justify-content: center;    
}

.listra hr {
    width: 50px;
    height: 3px;
    z-index: -1;
    background-color: #2f3040;
}
.listra span hr{
    z-index: 2;
    height: 3px;
    background-color: rgb(241, 140, 24);
    position: absolute;

}




/*SECTION DE PROJETO*/
section{
    width: 90%;
}

#o-projeto , #detalhes{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

#o-projeto{
    width: 70%;
}

section div{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*SECTION DE DETALHES*/

.conteudo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.conteudo div{
    width: 30%;
    padding: 10px;
}

.conteudo div i{
    width: 120px;
    height: 120px;
    border-radius: 100px;
    background-color: rgb(241, 140, 24);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

i img{
    width: 60px;
}


/*SECTION DE CONTATOS*/

#contatos{
    background-color: #2f304038;
    width: 100%;
    
}

#contatos div.conteudo{
    width: 80%;
}



/*footer*/

footer{
    width: 100%;
    height: 200px;
    color: white;
    background-color: #2f3040;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

footer p{
    font-size: 10pt;
}

#midias{
    display: flex;
    width: 200px;
    justify-content: space-between;
}

.circle{
    border-radius: 100px;
    border: 3px solid white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.circle:hover{
    background-color: rgb(241, 140, 24);
}

a img{
    width: 30px;
}



/*HEADER*/

header{
    height: 78vh;
    background-repeat: no-repeat;
    background-size: 100vw;
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

header h2 {
    font-size: 30pt;
    margin: 10px 10px 20px 10px ;
}

header div {
    width:  80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

header button{
    margin-top: 20px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    background-color: rgb(241, 140, 24);
    width: 160px;
    height: 50px;
    border: 1px solid rgb(241, 140, 24);
    border-radius: 100px;
    
}

header button:hover{
    border: 1px solid white;
    background-color: white;
    color: rgb(241, 140, 24);
    cursor: pointer;
    transition-duration: 0.5s;
}










/*NAO MEXER, CRIAR EM CIMA*/

h4{
    font-weight: 100;
    font-size: 20pt;
    margin-bottom: 20px;
}

h3{
    text-transform: uppercase;
    margin: 20px;
    font-size: 25pt;
    font-weight: 700;
}

hr{
    margin-bottom: 20px;
    width: 100px;
    height: 3px;
    background-color: #2f3040;
    border: none; 

}

