*{
    margin: 0px;
}

body{
    margin: 0;
}
a{
    text-decoration: none;
    color: white;
    font-size: 12pt;
    font-family: 'Montserrat', sans-serif;
}

a:hover{
    color: #44B78B;
}

ul{
    list-style-type: none; 
    display: flex;
    justify-content: space-around;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #0C4B33;
    height: 80px;
    align-items: center;

}

ul{
    width: 40%;
}


#nav-logo{
    width: 40%;
    margin-left: 20px;
}





#hamburguer{
    height: 30px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 10px;
    border: white solid 1px;
    padding: 4px;
    border-radius: 5px;
    align-items: center;
    display: none;
}

span {
    width: 35px;
    height: 10%;
    background-color: white;
    border-radius: 120px;
}


#menu-responsivo{
    display: none;
    flex-direction: column;
    background-color: antiquewhite;
    width: 100vw;
    height: 40vh;
}

.showMenu{
    display: flex;
}




section{
    background-color: blue;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-around
}

section div{
    background-color: yellow;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}