*{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;

}

body{
    margin: 0;
    color: #2f3040;
}
div.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

a{
    text-decoration: none;
    color: white;
    font-size: 15pt;
}

a:hover{
    color: rgb(241, 140, 24);
}

ul{
    list-style-type: none; 
    display: flex;
    justify-content: space-around;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #2f3040c0;
    height: 80px;
    width: 100%;
    align-items: center;
    position: fixed;

}

#nav-logo img{
    width: 200px;
}

ul{
    width: 40%;
}


#nav-logo{
    width: 40%;
    margin-left: 20px;
}



#hamburguer{
    height: 30px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 10px;
    border: white solid 1px;
    padding: 4px;
    border-radius: 5px;
    align-items: center;
    display: none;
}

.traco{
    width: 35px;
    height: 10%;
    background-color: white;
    border-radius: 120px;
}


#menu-responsivo{
    display: none;
    flex-direction: column;
    background-color: antiquewhite;
    width: 100vw;
    height: 40vh;
}

.showMenu{
    display: flex;
}




/*SECTION DE PROJETO*/
section{
    width: 90%;
}

#o-projeto , #detalhes{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

#o-projeto{
    width: 70%;
}

section div{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*SECTION DE DETALHES*/

.conteudo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.conteudo div{
    width: 30%;
    padding: 10px;
}

.conteudo div i{
    width: 120px;
    height: 120px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

#detalhes .conteudo div i{
    background-color: rgb(241, 140, 24);
}

i img{
    width: 60px;
}

/*SECTION FATOS*/

#fatos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.05);
    width: 100%;
}

#fatos div{
    width: 60%;
}
/*Essa diminui a div*/


.fato i{
    border: solid 2px rgb(241, 140, 24);
}

.fato i img {
    width: 80px;
}

#fatos .conteudo{
    display: flex;
    width: 70%;
    justify-content: space-around;
    text-align: center;
}

#fatos h4{
    color: rgb(241, 140, 24);
    font-weight: 700;
}




/*SECTION DE CONTATOS*/

#contatos{
    background-color: rgba(0, 0, 0, 0.05);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

#contatos div{
    margin-bottom: 10px;
}

#contatos div.conteudo{
    display: flex;
    justify-content: center;
    width: 90%;
    height: 200px;
    margin-top: 0;
    /* background-color: aqua */
}




/*footer*/

footer{
    width: 100%;
    height: 200px;
    color: white;
    background-color: #2f3040;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

footer h1 img {
    width: 200px
}

footer p{
    font-size: 10pt;
}

#midias{
    display: flex;
    width: 200px;
    justify-content: space-between;
}

.circle{
    border-radius: 100px;
    border: 3px solid white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.circle:hover{
    background-color: rgb(241, 140, 24);
}

a img{
    width: 30px;
}



/*HEADER*/

header{
    height: 80vh;
    background-repeat: no-repeat;
    background-size: 100vw;
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

header h2 {
    font-size: 30pt;
    margin: 10px 10px 20px 10px ;
}

header div {
    width:  80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

button{
    margin-top: 20px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    background-color: rgb(241, 140, 24);
    width: 160px;
    height: 50px;
    border: 1px solid rgb(241, 140, 24);
    border-radius: 100px;
    
}

button:hover{
    border: 1px solid white;
    background-color: white;
    color: rgb(241, 140, 24);
    cursor: pointer;
    transition-duration: 0.5s;
}










/*NAO MEXER, CRIAR EM CIMA*/

h4{
    font-weight: 100;
    font-size: 20pt;
    margin-bottom: 20px;
}

h3{
    text-transform: uppercase;
    margin: 20px;
    font-size: 25pt;
    font-weight: 700;
}

hr{
    margin-bottom: 50px;
    width: 60px;
    height: 3px;
    background-color: rgb(241, 140, 24);
    border: none; 

}


/*FORMULARIO*/
.form{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.inputs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    /* background-color: aliceblue; */
}

.inputs input{
    height: 40px;
    width: 250px;
    border-radius: 10px;
    border: solid 1px rgb(105, 105, 105);
    padding-left: 15px;
}

#inputs{
    width: 60%;
    height: 70%;
}

.label{
    color: transparent;
}

