body{
    margin: 0;
}
a{
    text-decoration: none;
    color: brown;
}

ul{
    list-style-type: none; 
    display: flex;
    justify-content: space-around;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    height: 100px;
    align-items: center;
}

#nav-opcoes{
    width: 50%;
}

#nav-logo{
    width: 40%;
    margin-left: 20px;
}
