{% extends 'main.html' %}

{% load staticfiles %}

{% block content %}


    <nav>
        <div id="nav-logo">
            <h1><a href=""><img src=""></a></h1>
        </div>

            <ul>
                <li><a href="">Início</a></li>
                <li><a href="">O Projeto</a></li>
                <li><a href="">Início</a></li>
                <li><a href="">Contatos</a></li>
            </ul>

            <div id="hamburguer">
                <span class="traco"></span>
                <span class="traco"></span>
                <span class="traco"></span>
            </div>
    </nav>

    <header style="background-image: url('{% static '2.jpg' %}')" >
        <div>
            <h2>Implemetando carreiras</h2>
            <p>asassasasasasasaassassaassaas</p>
            <button>Comece agora</button>
        </div>
    </header>


    <ul id="menu-responsivo">
        <li><a href="">Início</a></li>
        <li><a href="">O Projeto</a></li>
        <li><a href="">Início</a></li>
        <li><a href="">Contatos</a></li>
    </ul>

<div class="container">
    <section id="o-projeto">
        <div>
            <h3>o projeto</h3>
            <hr>
            Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum
        </div>
    </section>

    <section id="detalhes">
        
        <div class="conteudo">

            <div>
                <i><img src="{% static 'problema.png'%}" alt=""></i>
                <h4>Problema</h4>
                <p> permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum</p>
            </div>
    
            <div>
                <i><img src="{% static 'alvo.png'%}" alt=""></i>
                <h4>Foco</h4>
                <p> permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum</p>
        
            </div>
    
            <div>
                <i><img src="{% static 'ideia.png'%}" alt=""></i>
                <h4>Solução</h4>
                <p> permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum</p>
    
            </div>
        </div>
    </section>


    <section id="fatos">
        <div>
            <h3>Fatos</h3>
            <hr>
        </div>
        
        <div class="conteudo">

            <div class="fato">
                <i><img src="{% static 'alvo.png'%}" alt=""></i>
                <h4>90%</h4>
                <p> permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum</p>
            </div>
    
            <div class="fato">
                <i><img src="{% static 'ideia.png'%}" alt=""></i>
                <h4>40%</h4>
                <p> permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum</p>
    
            </div>
        </div>
    </section>



    <section id="sobre-nos">
            <div>
                <h3>o time</h3>
                <hr>
            </div>
        </section>

        <section id="detalhes">
            
            <div class="conteudo">

                <div>
                    <i><img src="{% static 'placeholder.png'%}" alt=""></i>
                    <h4>Scarlat</h4>
                    <p> permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum</p>
        
                </div>
        
                <div>
                    <i><img src="{% static 'placeholder.png'%}" alt=""></i>
                    <h4>Amanda Henrique</h4>
                    <p>Graduando em Jogos Digitais<br>Desenvolvedora de jogos e sites. <br><span>Email: </span>aamandahenrique@hotmail.com</p>
                    <a href=""><img src="" alt=""></a>
            
                </div>
        
                <div>
                    <i><img src="{% static 'placeholder.png'%}" alt=""></i>
                    <h4>Bianca J.</h4>
                    <p> permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum</p>
        
                </div>
            </div>
        </section>

</div>



<section id="contatos">
        <div>
            <h3>contato</h3>
            <hr>
            <p>Preencha as informações a</p>
        </div>
        
        <div class="conteudo">

            <form method="POST">
                {% csrf_token %} <!--Evita ataque-->
                <div id="inputs">
                    {{ form.as_p }}
                </div>

                <button type="submit">Solicitar</button>
            
                <!-- {% if msg  %}
                    <h2>{{ msg }}</h2>
                {% endif %} -->
            </form>

        </div>
</section>

<footer>
    <h1>LOGO</h1>

    <div id="midias">

        <div class="circle">
            <a href=""><img src="{% static 'facebook.png' %}"></a>
        </div>
    
        <div class="circle">
            <a href=""><img src="{% static 'twitter.png' %}"></a>
        </div>

        <div class="circle">
            <a href=""><img src="{% static 'emailicon.png' %}"></a>
        </div>
        

    </div>

    <p>© Copyright Amanda Henrique</p>

</footer>


{% endblock %}
